name: 'Run tests'

on:
  push:
    branches: [ master ]
  pull_request:
  workflow_dispatch:

defaults:
  run:
    working-directory: ./

jobs:
  test:
    name: Build lint and run tests
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout source
        uses: actions/checkout@v6

      - name: Install GoLang
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.work"
          cache-dependency-path: "**/go.sum"

      - name: Run build
        run: |
          make build

      - name: Run linters
        run: |
          make check

      - name: Run unit tests
        run: |
          make test-unit

      - name: Run integration tests
        run: |
          make test-integration
